[submodule "pack/ui/start/vim-code-dark"]
	path = pack/ui/opt/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "pack/ui/start/vim-airline"]
	path = pack/ui/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/editing/start/auto-pairs"]
	path = pack/editing/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/editing/start/SimpylFold"]
	path = pack/editing/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "/home/pi/.vim/pack/style/start/vim-flake8"]
	path = /home/pi/.vim/pack/style/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "pack/style/start/vim-flake8/"]
	path = pack/style/start/vim-flake8/
	url = https://github.com/nvie/vim-flake8.git
[submodule "pack/editing/start/vim-flake8"]
	path = pack/editing/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "pack/editing/start/commentary"]
	path = pack/editing/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/editing/start/vim-python-pep8-indent"]
	path = pack/editing/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "pack/editing/start/vim-autopep8"]
	path = pack/editing/start/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule "pack/ui/start/dracula"]
	path = pack/ui/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "pack/ui/opt/gruvbox"]
	path = pack/ui/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/syntax/start/mermaid"]
	path = pack/syntax/start/mermaid
	url = https://github.com/mracos/mermaid.vim
[submodule "pack/ui/opt/vim-distinguished"]
	path = pack/ui/opt/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "vim-closetag"]
	path = pack/editing/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "pack/editing/start/jedi-vim"]
	path = pack/editing/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
